html {
	height: 100%
}
body.gray-bg{height: auto;
	background: url("../img/login-background.jpg"
	) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: rgba(255, 255, 255, .95);
	margin-top: -24px;
	}

.middle-box {
	max-width: 400px;
	z-index: 100;
	margin: 0 auto;
}

	
.signup-footer {
	border-top: solid 1px rgba(255, 255, 255, .3);
	margin: 20px 0;
	padding-top: 15px
}

.middle-box .uname {
	background: #fff url("../img/user.png"
	) no-repeat 95% center;
	color: #333
}

.middle-box .pword {
	background: #fff url("../img/locked.png"
	) no-repeat 95% center;
	color: #333
}

.middle-box .btn {
	margin-top: 15px
}

.middle-box form {
	background: rgba(255, 255, 255, .2);
	border: 1px solid rgba(255, 255, 255, .3);
	-moz-box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
	-webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
	box-shadow: 0 3px 0 rgba(12, 12, 12, .03);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 30px
}

.middle-box p{
	margin: 16px auto -8px
}

.middle-box p a{
	 font-weight:bold;
	 color: #0E9AEF
}

.middle-box p a:hover{
	text-decoration:underline;
	color: #1B6D85
}

